div {
  display: flex;
}

ul {
  padding: 0;
}

.card-body {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}

.card-img{
  min-width: 150px;
  min-height: 150px;
  width: 20%;
}

.card-data{
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  border-left: black solid 1px;
  justify-content: space-around;
}


.card-company-identity span{
  min-width: 200px;
  width: 100%;
  font-size: 20px;
}

.card-company-infos{
  margin-left: -10px;
  justify-content: space-around;
  color: gray;
}

.card-company-address {
  flex-direction: column;
}

