*{
  margin: 0;
  padding: 0;
}

.list-body {
  margin: auto;
  width: 95%;
}

.categories {
  list-style: none;
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 10px;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
}

.category {
  align-content: center;
  height: 40px;
  padding-right: 50px;
  font-size: 25px;
  font-weight: 500;
}

.product-list{
  position: sticky;
  top: 0;
  padding-left: -15px;
  height: 790px;
  overflow-y: auto;
  overflow-x: hidden;
}

.product-card{
  display: flex;
  width: 95%;
  height: 150px;
  padding: 5px;
  margin-top: 5px;
}

.infos{
  width: 60%;
  padding-left: 10px;
}

.infos h3{
  font-size: 25px;
  font-weight: 500;
  height: 20%;
}

.infos p {
  color: rgba(0, 0, 0, .75);
  height: 60%;
}

.infos span {
  height: 20%;
}
