<div class="card-body">
  <div class="card-coverpicture">
    <img src="" alt="cover picture">
  </div>
  <div class="card-profilepicture">
    <img src="" alt="profile picture">
  </div>
  <div class="card-profile-data">
    <div class="datas">
      <div class="company-identety">
        <h3>{{name}}</h3>
        <a href="">{{address}}</a>
      </div>
      <div class="company-infos">
        <div class="info">
          <h3>Avaliação</h3>
          <span>5.0 ☆</span>
        </div>
        <div class="info">
          <h3>Entrega</h3>
          <span>{{delivery}} min</span>
        </div>
        <div class="info">
          <h3>Retirada</h3>
          <span>{{withdrawal}} min</span>
        </div>
        <div class="info">
          <h3>Pagamento</h3>
          <span><mat-icon>credit_card</mat-icon></span>
        </div>
        <div class="info">
          <h3>Horários</h3>
          <span><mat-icon>access_time</mat-icon></span>
        </div>
        <div class="info">
          <h3>Informações</h3>
          <span><mat-icon>add_circle_outline</mat-icon></span>
        </div>
      </div>
    </div>
  </div>
</div>
